@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html, body {
    @apply h-full m-0 bg-dark text-white font-sans antialiased;
    margin: 0;
    padding: 0;
    height: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
